root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

[*.{bat,cmd,ps1}]
end_of_line = crlf

[*.cs]
indent_size = 4

# ReSharper
resharper_align_multiline_binary_expressions_chain = false
resharper_align_multiline_statement_conditions = false
resharper_braces_for_for = required
resharper_braces_for_foreach = required
resharper_braces_for_ifelse = required
resharper_braces_for_while = required
resharper_csharp_braces_for_fixed = required
resharper_csharp_braces_for_for = required
resharper_csharp_braces_for_foreach = required
resharper_csharp_braces_for_ifelse = required
resharper_csharp_braces_for_lock = required
resharper_csharp_braces_for_using = required
resharper_csharp_braces_for_while = required
resharper_keep_existing_initializer_arrangement = false
resharper_trailing_comma_in_multiline_lists = false
resharper_wrap_chained_binary_expressions = chop_if_long
resharper_wrap_chained_binary_patterns = chop_if_long

# netstandard2.0
[src/HotChocolate/{Core/src/Types.Analyzers,Language}/**/*.cs]
dotnet_diagnostic.CA1510.severity = none
dotnet_diagnostic.CA1511.severity = none
dotnet_diagnostic.CA1512.severity = none
dotnet_diagnostic.CA1513.severity = none
dotnet_diagnostic.IDE0057.severity = none

# Tests
[src/**/test/**/*.cs]
# Unused parameter.
dotnet_diagnostic.RCS1163.severity = none
