language: csharp
mono: latest
dotnet: 2.1.503
matrix:
  include:
    - os: osx
      osx_image: xcode9
branches:
  only:
    - master
script:
  - dotnet tool install -g Cake.Tool
  - dotnet cake -target=CoreTests