version: 2
jobs:
  pull-request:
    working_directory: /work
    docker:
      - image: chillicream/dotnet-build:2.0
    steps:
      - checkout
      - run:
          name: Pull Request Build
          command: ./build.sh -t CoreTests
      - store_test_results:
          path: /work/testoutput
      - store_artifacts:
          path: /work/testoutput

workflows:
  version: 2
  pull-request:
    jobs:
      - pull-request:
          filters:
            branches:
              ignore: master
            tags:
              ignore: /^(?:0|[1-9]\d*)\.(?:0|[1-9]\d*)\.(?:0|[1-9]\d*)(\-\w*?\.[1-9]\d*)?$/
