trigger:
  branches:
    include:
      - main

pr:
  - main

stages:
  - stage: ubuntu
    displayName: "Ubuntu 20.04"
    dependsOn: []
    pool:
      vmImage: "ubuntu-20.04"
    jobs:
      - job: TestHotChocolateAnalyzers
        steps:
          - task: CmdLine@2
            displayName: "Run Tests"
            inputs:
              script: "./build.cmd TestHotChocolateAnalyzers --skip --test-partition $(System.JobPositionInPhase)"
          - task: PublishBuildArtifacts@1
            displayName: "Upload Test Results"
            inputs:
              artifactName: test-results
              pathtoPublish: "output/test-results"
      - job: TestHotChocolateApolloFederation
        steps:
          - task: CmdLine@2
            displayName: "Run Tests"
            inputs:
              script: "./build.cmd TestHotChocolateApolloFederation --skip --test-partition $(System.JobPositionInPhase)"
          - task: PublishBuildArtifacts@1
            displayName: "Upload Test Results"
            inputs:
              artifactName: test-results
              pathtoPublish: "output/test-results"
      - job: TestHotChocolateAspNetCore
        steps:
          - task: CmdLine@2
            displayName: "Run Tests"
            inputs:
              script: "./build.cmd TestHotChocolateAspNetCore --skip --test-partition $(System.JobPositionInPhase)"
          - task: PublishBuildArtifacts@1
            displayName: "Upload Test Results"
            inputs:
              artifactName: test-results
              pathtoPublish: "output/test-results"
      - job: TestHotChocolateAzureFunctions
        steps:
          - task: CmdLine@2
            displayName: "Run Tests"
            inputs:
              script: "./build.cmd TestHotChocolateAzureFunctions --skip --test-partition $(System.JobPositionInPhase)"
          - task: PublishBuildArtifacts@1
            displayName: "Upload Test Results"
            inputs:
              artifactName: test-results
              pathtoPublish: "output/test-results"
      - job: TestHotChocolateCodeGeneration
        steps:
          - task: CmdLine@2
            displayName: "Run Tests"
            inputs:
              script: "./build.cmd TestHotChocolateCodeGeneration --skip --test-partition $(System.JobPositionInPhase)"
          - task: PublishBuildArtifacts@1
            displayName: "Upload Test Results"
            inputs:
              artifactName: test-results
              pathtoPublish: "output/test-results"
      - job: TestHotChocolateCore
        steps:
          - task: CmdLine@2
            displayName: "Run Tests"
            inputs:
              script: "./build.cmd TestHotChocolateCore --skip --test-partition $(System.JobPositionInPhase)"
          - task: PublishBuildArtifacts@1
            displayName: "Upload Test Results"
            inputs:
              artifactName: test-results
              pathtoPublish: "output/test-results"
      - job: TestHotChocolateData
        steps:
          - task: CmdLine@2
            displayName: "Run Tests"
            inputs:
              script: "./build.cmd TestHotChocolateData --skip --test-partition $(System.JobPositionInPhase)"
          - task: PublishBuildArtifacts@1
            displayName: "Upload Test Results"
            inputs:
              artifactName: test-results
              pathtoPublish: "output/test-results"
      - job: TestHotChocolateDiagnostics
        steps:
          - task: CmdLine@2
            displayName: "Run Tests"
            inputs:
              script: "./build.cmd TestHotChocolateDiagnostics --skip --test-partition $(System.JobPositionInPhase)"
          - task: PublishBuildArtifacts@1
            displayName: "Upload Test Results"
            inputs:
              artifactName: test-results
              pathtoPublish: "output/test-results"
      - job: TestHotChocolateFilters
        steps:
          - task: CmdLine@2
            displayName: "Run Tests"
            inputs:
              script: "./build.cmd TestHotChocolateFilters --skip --test-partition $(System.JobPositionInPhase)"
          - task: PublishBuildArtifacts@1
            displayName: "Upload Test Results"
            inputs:
              artifactName: test-results
              pathtoPublish: "output/test-results"
      - job: TestHotChocolateLanguage
        steps:
          - task: CmdLine@2
            displayName: "Run Tests"
            inputs:
              script: "./build.cmd TestHotChocolateLanguage --skip --test-partition $(System.JobPositionInPhase)"
          - task: PublishBuildArtifacts@1
            displayName: "Upload Test Results"
            inputs:
              artifactName: test-results
              pathtoPublish: "output/test-results"
      - job: TestHotChocolateMongoDb
        steps:
          - task: CmdLine@2
            displayName: "Run Tests"
            inputs:
              script: "./build.cmd TestHotChocolateMongoDb --skip --test-partition $(System.JobPositionInPhase)"
          - task: PublishBuildArtifacts@1
            displayName: "Upload Test Results"
            inputs:
              artifactName: test-results
              pathtoPublish: "output/test-results"
      - job: TestHotChocolateNeo4J
        steps:
          - task: CmdLine@2
            displayName: "Run Tests"
            inputs:
              script: "./build.cmd TestHotChocolateNeo4J --skip --test-partition $(System.JobPositionInPhase)"
          - task: PublishBuildArtifacts@1
            displayName: "Upload Test Results"
            inputs:
              artifactName: test-results
              pathtoPublish: "output/test-results"
      - job: TestHotChocolatePersistedQueries
        steps:
          - task: CmdLine@2
            displayName: "Run Tests"
            inputs:
              script: "./build.cmd TestHotChocolatePersistedQueries --skip --test-partition $(System.JobPositionInPhase)"
          - task: PublishBuildArtifacts@1
            displayName: "Upload Test Results"
            inputs:
              artifactName: test-results
              pathtoPublish: "output/test-results"
      - job: TestHotChocolateSpatial
        steps:
          - task: CmdLine@2
            displayName: "Run Tests"
            inputs:
              script: "./build.cmd TestHotChocolateSpatial --skip --test-partition $(System.JobPositionInPhase)"
          - task: PublishBuildArtifacts@1
            displayName: "Upload Test Results"
            inputs:
              artifactName: test-results
              pathtoPublish: "output/test-results"
      - job: TestHotChocolateStitching
        steps:
          - task: CmdLine@2
            displayName: "Run Tests"
            inputs:
              script: "./build.cmd TestHotChocolateStitching --skip --test-partition $(System.JobPositionInPhase)"
          - task: PublishBuildArtifacts@1
            displayName: "Upload Test Results"
            inputs:
              artifactName: test-results
              pathtoPublish: "output/test-results"
      - job: TestHotChocolateUtilities
        steps:
          - task: CmdLine@2
            displayName: "Run Tests"
            inputs:
              script: "./build.cmd TestHotChocolateUtilities --skip --test-partition $(System.JobPositionInPhase)"
          - task: PublishBuildArtifacts@1
            displayName: "Upload Test Results"
            inputs:
              artifactName: test-results
              pathtoPublish: "output/test-results"
