trigger:
  branches:
    include:
      - main

pr:
  - main

variables:
  - group: Nuke

stages:
  - stage: ubuntu
    displayName: "Ubuntu 20.04"
    dependsOn: []
    pool:
      vmImage: "ubuntu-20.04"
    jobs:
      - job: Test
        displayName: "Test"
        dependsOn: []
        continueOnError: true
        strategy:
          parallel: 4
        steps:
          - task: CmdLine@2
            displayName: "Run Tests"
            continueOnError: true
            inputs:
              script: './build.cmd Test --skip --test-partition $(System.JobPositionInPhase)' 
            env:
              NUKE_TOKEN: $(NUKE_TOKEN)
              NUKE_FUNCTIONS_HOST: $(NUKE_FUNCTIONS_HOST)
                
          - task: PublishBuildArtifacts@1
            displayName: "Upload Test Results"
            inputs:
              artifactName: test-results
              pathtoPublish: "output/test-results"
