trigger:
  branches:
    include:
      - main

pr:
  - main

stages:
  - stage: ubuntu
    displayName: "Ubuntu 20.04"
    dependsOn: []
    pool:
      vmImage: "ubuntu-20.04"
    jobs:
      - job: SonarPr
        displayName: "Sonar Pull-Request"
        dependsOn: []
        steps:
          - task: JavaToolInstaller@0
            inputs:
              versionSpec: "11"
              jdkArchitectureOption: "x64"
              jdkSourceOption: "PreInstalled"
              jdkDestinationDirectory: ./.java
          - task: CmdLine@2
            env:
              HC_GITHUB_PR_NR: $(System.PullRequest.PullRequestNumber)
              HC_GITHUB_HEAD_REF: $(System.PullRequest.SourceBranch)
              HC_GITHUB_BASE_REF: $(System.PullRequest.TargetBranch)
            inputs:
              displayName: "Run Sonar"
              script: "./build.cmd SonarPr"
