trigger:
  branches:
    include:
      - main

pr:
  - main

stages:
  - stage: ubuntu
    displayName: "Ubuntu 20.04"
    dependsOn: []
    pool:
      vmImage: "ubuntu-20.04"
    jobs:
      - job: Test
        continueOnError: true
        displayName: "Test"
        dependsOn: []
        strategy:
          parallel: 4
        steps:
          - task: UseDotNet@2
            displayName: "Install .NET Core"
            inputs:
              packageType: 'sdk'
              useGlobalJson: true
          - task: CmdLine@2
            displayName: "Run Tests"
            inputs:
              script: './build.cmd Test --skip --test-partition $(System.JobPositionInPhase)'
          - task: PublishBuildArtifacts@1
            displayName: "Upload Test Results"
            inputs:
              artifactName: test-results
              pathtoPublish: "output/test-results"
