trigger:
  batch: true
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - .devops/deploy-website-cluster.yaml
      - .docker/website
      - src/website

pr: none

pool:
  vmImage: "ubuntu-20.04"

steps:
  - task: DockerInstaller@0
    displayName: "Install Docker"
    inputs:
      dockerVersion: "17.09.0-ce"

  - task: KubectlInstaller@0
    displayName: "Install Kubectl"
    inputs:
      kubectlVersion: "latest"

  - task: NodeTool@0
    displayName: "Install Node.js"
    inputs:
      versionSpec: "14.x"
      checkLatest: true

  - task: YarnInstaller@3
    displayName: "Install Yarn"
    inputs:
      versionSpec: "1.x"
      checkLatest: true

  - task: Yarn@3
    displayName: "Install Packages"
    inputs:
      projectDirectory: "website"
      arguments: "--frozen-lockfile"

  - task: Yarn@3
    displayName: "Run yarn build"
    inputs:
      projectDirectory: "website"
      arguments: "build --prefix-paths"

  - task: Docker@2
    displayName: "Build WebSite Container"
    inputs:
      containerRegistry: '$(container-registry)'
      repository: 'ccc-website'
      command: 'buildAndPush'
      Dockerfile: '.docker/website/dockerfile'
      buildContext: '.'

  - task: Kubernetes@1
    displayName: "Deploy WebSite Service"
    inputs:
      connectionType: "Kubernetes Service Connection"
      kubernetesServiceEndpoint: "$(aks-cluster)"
      namespace: "$(portal-namespace)"
      command: "apply"
      useConfigurationFile: true
      configurationType: "inline"
      inline: |
        apiVersion: apps/v1
        kind: Deployment
        metadata:
          name: ccc-website-$(Build.SourceBranchName)
        spec:
          replicas: 2
          selector:
            matchLabels:
              app: ccc-website-$(Build.SourceBranchName)
          template:
            metadata:
              labels:
                app: ccc-website-$(Build.SourceBranchName)
            spec:
              containers:
                - image: $(container-registry-domain)/ccc-website-$(Build.SourceBranchName):$(Build.BuildId)
                  resources:
                    limits:
                      memory: "128Mi"
                      cpu: "500m"
                    requests:
                      memory: "32Mi"
                      cpu: "1m"
                  name: ccc-bcp-telemetry
                  ports:
                    - containerPort: 80
        ---
        apiVersion: v1
        kind: Service
        metadata:
          name: ccc-website-$(Build.SourceBranchName)
        spec:
          type: ClusterIP
          ports:
          - port: 80
          selector:
            app: ccc-website-$(Build.SourceBranchName)
      secretType: "dockerRegistry"
      containerRegistryType: "Azure Container Registry"

