name: Check Public API

on: 
  pull_request:
    branches:
      - main
      - develop

jobs:
  check-public-api:
    name: "Check Public API"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6.0.100-rc.2.21505.57'
          include-prerelease: true
      - run:  ./build.sh CheckPublicApi
        name: "Check for undocumented public API changes"