name: Documentation Checks

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  linting:
    name: "Markdown linting"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        name: Check out the code
      - name: "Docs: Markdown Linting"
        uses: docker://ghcr.io/igorshubovych/markdownlint-cli:latest
        with:
          args: 'markdownlint "./website/src/**/*.md" --disable MD013'
  spellcheck:
    name: "Docs: Spellcheck"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        name: Check out the code
      - uses: actions/setup-node@v1
        name: Setup node
        with:
          node-version: "16"
      - run: npm install -g cspell
        name: Install cSpell
      - run: cspell --config ./cSpell.json "website/src/**/*.md"
        name: run cSpell
