name: Sonar Pull-Request

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  SonarPr:
    runs-on: ubuntu-latest
    name: Sonar Pull-Request
    steps:
    - name: Checkout Code
      uses: actions/checkout@v2
      
    - name: Set up Java
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'adopt'
        architecture: x64

    - name: Install .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: |
          6.x
          7.x
          8.x

    - name: Run Sonar Analysis
      run: ./build.cmd SonarPr --SonarToken $SONARTOKEN
      env:
        HC_GITHUB_PR_NR: ${{ github.event.pull_request.number }}
        HC_GITHUB_HEAD_REF: ${{ github.event.pull_request.head.ref }}
        HC_GITHUB_BASE_REF: ${{ github.event.pull_request.base.ref }}
        SONARTOKEN: ${{ secrets.SONARTOKEN }}
